<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<HTML>
<HEAD>
   <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
   <TITLE>Directory index: <!--tag:curdir--></TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF">

<TABLE COLS=1 WIDTH="100%"' BGCOLOR="#EEEEFF"><TR><TD>
<H3><!--tag:dirnav(dir=curdir,dirsep=' :: ')--></H3>
<B>Directory Index</B>
</TD></TR></TABLE>

<DIV ALIGN=RIGHT>
<!--tagcode:
if len( images ) > 0:
    print '<A HREF="%s">Slideshow</A>&nbsp;' % \
        quote( getprop('html',images[0]) )
elif len( subdirs ) > 0:
    print '<A HREF="%s">Slideshow</A>&nbsp;' % getindex(subdirs[0])
-->
<A HREF="<!--tag:allindex-->">Global Index</A><P></DIV>

<!--tagcode:
if len( subdirs ) > 0:
    print '<H3>Sub-directories:</H3>'
    print '<UL>'
    for d in subdirs:
        print '<LI><A HREF="%s">%s</A></LI>' % ( getindex(d), d )
    print '</UL><P>'
-->

<!--tagcode:
if len( images ) > 0:
    # as table
    print '<H3>Images:</H3>'
    print table( images, textfun=tableTextCb, cols=5 )

    print '<H3>Images by name:</H3>'
    print '<TABLE COLS=2 WIDTH="100%"><TR><TD>'

    print '<UL><FONT SIZE=-2>'
    for i in images[ :len(images)/2 ]:
	 print '<LI><A HREF="%s">%s</A></LI>' % \
	     ( quote( getprop('html',i) ), getprop('name',i) )
    print '</FONT></UL>'

    print '</TD><TD>'

    print '<UL><FONT SIZE=-2>'
    for i in images[ len(images)/2: ]:
	 print '<LI><A HREF="%s">%s</A></LI>' % \
	     ( quote( getprop('html',i) ), getprop('name',i) )
    print '</FONT></UL>'
    print '</TD></TR></TABLE>'

-->

<!--tag:footer-->

</BODY>
</HTML>
