<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<HTML>
<HEAD>
   <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
   <TITLE>Global index</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF">

<TABLE COLS=1 WIDTH="100%"' BGCOLOR="#FFEEEE"><TR><TD>
<H1>Global Index</H1>
</TD></TR></TABLE>

<DIV ALIGN=RIGHT>
<A HREF="<!--tag:rootdirindex-->">Root Directory Index</A>&nbsp;
<A HREF="<!--tag:sortindex-->">Sorted Index</A><P></DIV>

<!--tagcode:
if len(subdirs) > 0:
    print '<H3>Sub-directories:</H3>'
    print '<UL>'
    for d in subdirs:
        print '<LI><A HREF="%s">%s</A></LI>' % ( getindex(d), d )
    print '</UL><P>'
-->

<!--tagcode:
if len( tracks ) > 0:
    print '<H3>Tracks:</H3>'
    print '<UL>'
    for t in tracks:
        print '<LI><A HREF="%s">%s</A></LI>' % ( trackindex(t), t )
    print '</UL>'
-->

<!--tagcode:
if len( images ) > 0:
    # as table
    print '<H3>Images:</H3>'
    print table( images, textfun=tableTextCb, cols=5 )

    print '<H3>Images by name:</H3>'
    print '<TABLE COLS=2 WIDTH="100%"><TR><TD>'

    print '<UL><FONT SIZE=-2>'
    for i in images[ :len(images)/2 ]:
	 print '<LI><A HREF="%s">%s</A></LI>' % \
	     ( quote( getprop('html',i) ), getprop('name',i) )
    print '</FONT></UL>'

    print '</TD><TD>'

    print '<UL><FONT SIZE=-2>'
    for i in images[ len(images)/2: ]:
	 print '<LI><A HREF="%s">%s</A></LI>' % \
	     ( quote( getprop('html',i) ), getprop('name',i) )
    print '</FONT></UL>'
    print '</TD></TR></TABLE>'

-->

<!--tag:footer-->

</BODY>
</HTML>
