<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<HTML>
<HEAD>
   <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
   <TITLE>CD index</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF">

<TABLE COLS=1 WIDTH="100%"' BGCOLOR="#EEEEEE"><TR><TD>
<H1>Photo CD root</H1>
</TD></TR></TABLE>

<UL>
  <LI><A HREF="html/dirindex.html">Root Directory Index</A></LI>
</UL>

<UL>
  <LI><A HREF="html/allindex.html">Global Index</A></LI>
  <LI><A HREF="html/allindex.cidx">List Of Pictures</A></LI>
</UL>

<HR NOSHADE SIZE=2 WIDTH=90%%>
<CENTER><I><FONT SIZE=-2>
All images and material are
</FONT><FONT SIZE=-1>
<B>Copyright &copy; 2004 Martin Blais, Montreal, Canada.<BR></B>
</FONT><FONT SIZE=-2>
All Rights Reserved. Images may not be used without written permission.<BR>
If you would like to license or use an image, please contact 
<B><A HREF=\"mailto:blais@furius.ca\">blais@furius.ca</A></B>
</FONT></I></CENTER>

</BODY>
</HTML>

