<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<HTML>
<HEAD>
   <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
   <TITLE>Image: <!--tag:getprop('name')--></TITLE>
</HEAD>
<BODY BGCOLOR=#FFFFFF>

<CENTER>

<TABLE WIDTH=<!--tag:width()--> HEIGHT=<!--tag:height()-->
CELLPADDING=10 BGCOLOR="#000000"><TR><TD>
<IMG SRC="<!--tag:image-->">
</TD></TR></TABLE>
</CENTER>
<P>

<!--title and location in big, if available, to the left-->
<BIG STYLE="font-family: Arial,Geneva,sans-serif; font-size: 24px;">
<!--tag:getprop('name')--><BR>
</BIG>
<!--tagcode:
location = getattr('location')
if location:
    print "<B>%s</B><BR>" % location
-->
</FONT>
<P>

<!--description and camera settings, in a table-->
<!--tagcode:
description = getattr('description')
settings = getattr('settings')

#if description and settings:
print """
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0">
<TR>
"""

if settings:
    print '<TD WIDTH="68%" VALIGN="TOP">'
else:
    print '<TD WIDTH="90%" VALIGN="TOP">'

if description:
    print '<FONT STYLE="font-family: Arial,Geneva,sans-serif">'
    print description, "<P>"
    print '</FONT>'

#if description and settings:
print """
</TD>
"""

if settings:
    print '<TD WIDTH="28%" VALIGN="BOTTOM">'
else:
    print '<TD WIDTH="10%" VALIGN="BOTTOM">'

if settings:
    print """
<P ALIGN="RIGHT">
<FONT STYLE="font-family: Arial,Geneva,sans-serif; font-weight: bold;" SIZE=-2>
CAMERA SETTINGS:<BR>
</FONT><FONT STYLE="font-family: Arial,Geneva,sans-serif;" SIZE=-2>
"""
    for l in settings.split( '\n' ):
        print "%s<BR>" % l
    print "</FONT>"

#if description and settings:
print """
</TD>
</TR>
</TABLE>
"""
-->
</FONT>

<!--previous and next thumbnails, with text in between-->
<CENTER>
<HR NOSHADE SIZE=1 WIDTH="90%">
<TABLE WIDTH="100%" BORDER="0">
<TR>

<!--tagcode:
pi = prev( allimages )

pw = requested_thumb_size
if pi:
    thumbfn = getprop('thumb',pi)
    pw = width(thumbfn)

print '<TD WIDTH="%d">' % pw
if pi:
    print linkImage(thumbfn, \
                    getprop('html',pi), 1, 'ALIGN=LEFT ALT="Previous in dir"' )
-->

</TD><TD ALIGN="CENTER" BGCOLOR="#F4F4F4" CELLPADDING=5>

<!--dirnav, alternative representations and navigation, 
between the floating thumbs-->

<B>
<!--tag:dirnav(dir=curdir,ignoreCurrent=0,dirsep=" :: ")-->
 :: 
<A HREF="<!--tag:image-->"><!--tag:image--></A>
</B><BR>

<!--tagcode:
if len( altrepns ) > 0:
    print "Alternative representations:"
    for rep in altrepns.keys():
        print '<A HREF="%s">%s</A>&nbsp;' % ( altrepns[ rep ], rep )
    print '<P>'
-->

<BR>
<!--tagcode:
print textnav( dirimages, "dir", dirindex )
if len(tracks) > 0:
    print '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>tracks:</B>'
    for t in tracks:
        print '&nbsp;&nbsp;&nbsp;&nbsp;'
        print textnav( trackimages(t), t, trackindex(t) )
--><P>

</TD>

<!--tagcode:
ni = next( allimages )

nw = requested_thumb_size
if ni:
    thumbfn = getprop('thumb',ni)
    nw = width(thumbfn)
print '<TD WIDTH="%d">' % nw

if ni:
    print linkImage(thumbfn, \
                    getprop('html',ni), 1, 'ALIGN=RIGHT ALT="Next in dir"' )
-->

</TD></TR></TABLE>
</CENTER>

<!--begin copyright notice-->
<BR CLEAR=ALL>
<CENTER><I><FONT SIZE=-2>
All images and material are
</FONT><FONT SIZE=-1>
<B>Copyright &copy; 2001 Martin Blais, Montreal, Canada.<BR></B>
</FONT><FONT SIZE=-2>
All Rights Reserved. Images may not be used without written permission.<BR>
If you would like to license or use an image, please contact 
<B><A HREF="mailto:blais@iro.umontreal.ca">blais@iro.umontreal.ca</A></B>
</FONT></I></CENTER>
<!--end copyright notice-->

<P>
<!--begin curator plug-->
<CENTER><I><FONT SIZE=-2>
This page was generated using
<A HREF="http://curator.sourceforge.net">Curator</A>.
</FONT></I></CENTER>
<!--end curator plug-->

</BODY>
</HTML>
