<html>
<head>
<title>PhotoCD Index</title>
</head>

<body 
	bgcolor=#FFFFFF leftmargin=15 topmargin=5 marginwidth=15 marginheight=5 text=000000>
<form enctype=multipart/form-data method=GET action=/search/search>
<table width=100% border=0 cellspacing=0 cellpadding=0>
<tr><td width=152><a href=/><img src=http://photo.net/graphics/animated_photonet_logo.gif  border=0 width=129 height=50 vspace=0 hspace=0></a></td>
<td align=right>
<FONT FACE='verdana, arial, helvetica' SIZE=-3>

<a href="/register">Sign in</a>&nbsp;|&nbsp;
<b>Search:&nbsp;</b></font>
<input type=hidden name=sections value=static_pages>
<input type=hidden name=sections value=bboard>
<input type=hidden name=sections value=comments>
<input type=text size=12 name=query_string>
<input type=image src=/graphics/go.gif width=27 height=17 border=0 vspace=0 hspace=4></a>
</td></tr></table></form>
<bar><center><table width=100% height=23 border=0 cellspacing=0 cellpadding=0 bgcolor=666666>
<tr><td><img src="http://photo.net/graphics/clear.gif" width=20 height=20 border=0></td>
<td width=20%><b><a href=http://photo.net/community style="TEXT-DECORATION: none"><font face="verdana, MS San Serif, Geneva, Helvetica" color=FFFFFF>Community</font></a></b></td>
<td width=20%><b><a href=http://photo.net/gallery style="TEXT-DECORATION: none"><font face="verdana, MS San Serif, Geneva, Helvetica" color=FFFFFF>Gallery</font></a></b></td>
<td width=20%><b><a href=http://photo.net/learn/ style="TEXT-DECORATION: none"><font face="verdana, MS San Serif, Geneva, Helvetica" color=FFFFFF>Learn</font></a></b></td>
<td width=20%><b><a href=http://photo.net/shop/ style="TEXT-DECORATION: none"><font face="verdana, MS San Serif, Geneva, Helvetica" color=FFFFFF>Equipment</font></a></b></td>
<td width=20%><b><a href=http://photo.net/webtravel/ style="TEXT-DECORATION: none"><font face="verdana, MS San Serif, Geneva, Helvetica" color=FFFFFF>Travel</font></a></b></td>
</tr></table></center></bar> <img src=http://photo.net/graphics/clear.gif width=10 height=14 border=0>
<img src=http://photo.net/graphics/clear.gif width=10 height=25 border=0>

	
<h2>PhotoCD Index</h2>
<hr>

<!--tagcode:
# print all image thumbnails, without formatting, it'll wrap.
for i in images:
    altname = 'ALT="%s"' % getprop('name',i)
    print linkImage( getprop('thumb',i), getprop('html',i), 1, altname )
-->

