<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<META name="Author" content="Fooboo Bar">
	<META NAME="Description" CONTENT="Digital Camera Photographs. Photos and resources by Fooboo Bar.">
<META NAME="Keywords" CONTENT="Fooboo Bar, photography, forum, discussion, image, gallery, studio, download, demo, design, pages, photo, portfolio, digital, info">
	<title>Photo Gallery by Fooboo Bar</title>
	<style type="text/css" media="screen">					<!--
					PRE {font-family: Arial, Helvetica, sans-serif;}
					BODY {
						margin: 20px 60px 20px;
						font-family: Arial, Helvetica, sans-serif;
						background-color : #ffffff;
					}
					H1,H2,H3,H4,H5,I,BIG,STRONG,LI,UL,P,B,TD,TR,TABLE,IMG  {font-family : Arial, Helvetica, sans-serif;}
					P,LI,UL,B {font-size: 12px;}
					A  {text-decoration : underline; background: transparent;}
					A:hover  {color: #993300; background: transparent;}
					-->
</style>
<!-- frame buster - code by Gordon McComb -->
<script language="JavaScript" type="text/javascript">
	<!-- Hide script from older browsers
	setTimeout ("changePage()", 3000);

	function changePage() {
		if (self.parent.frames.length != 0)
			self.parent.location=document.location;
		}
	// end hiding contents -->
</script>
</head>

<body>

<table border="0" cellspacing="0" cellpadding="0" width="80%"><tr><td><p><br><img src="logo.gif" width="293" height="39" alt="Photographs" border="0" vspace="7"><br><!-- <h2>Photographs</h2> -->
<i><b>By Fooboo Bar</b></i></p>

<p>Canon G1 digital camera, 1GB IBM Microdrive, Canon 550EX flash. Click thumbnails for bigger images (resized 50% from the originals).  Unauthorized use of these photographs is strictly prohibited.<br><br>
<p style="font-size: 14px; font-family: 'MS Sans Serif', Geneva, sans-serif;">| <a href="faq.html">Gallery FAQ</a> | <a href="g1.html">Canon G1 Info</a> | <a href="wishlist.html">Firmware Wishlist</a> | <a href="http://studio-on-the.net/photography/forum/">Photography Forum</a> | <a href="http://studio-on-the.net/photography/">Home</a>  | <a href="mailto:contacts@sci.fi">Mail me</a> |<br></p>
<p><b><a href="faq.html">Please read the FAQ</a> if you have technical questions. For G1 usage questions please post questions to my <a href="http://studio-on-the.net/photography/forum/">forum</a>. I probably won't be adding any new photos to this gallery any more, but I'll post my new Canon D30 into my <a href="http://studio-on-the.net/photography/forum/">forum</a> from time to time. Thanks for visiting this gallery!</b></p>
<br></td></tr></table>

<!--tagcode:
for i in images:
    altname = 'ALT="%s"' % getprop('name',i)
    alts = altname + ' border="0" hspace="3" vspace="3"'
    print linkImage( getprop('thumb',i), getprop('html',i), 1, alts )
-->

<br><br><small style="font-family: 'MS Sans Serif', Geneva, sans-serif; font-size: 11px; font-weight: normal;">Last update May 1st, 2001 (16 photos added). 93 Photos. Site <a href="http://webdesign.studio-on-the.net">design</a> by Fooboo Bar.<br>All images and site content are copyright &copy;2000-2001 by Fooboo Bar, Foocountry. All rights reserved. Images may not be used without written permission.</small><br></p>
<p>Back to <a href="http://studio-on-the.net/photography/">studio-on-the.net/photography/</a></a></p>


<table border="0" cellspacing="0" cellpadding="0"><tr><td valign="top"><p><small style="font-family: 'MS Sans Serif', Geneva, sans-serif; font-size: 11px; font-weight: normal;">Html pageloads in the gallery<br>(index + all photo pages)<br>since Jan 2001:</small></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td valign="middle"><img src="/gcounter/Count.cgi?df=studio.2.dat&dd=RR&md=7&ft=0"></p></td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><script language=javascript src="http://ss.webring.yahoo.com/navbar?f=j&y=fooboo_bar&u=99391184910409667"></script>
</td></tr></table>


</body>
</html>
