<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Sample Gallery</TITLE>
</HEAD>

<!--  Created by BBGallery 1.0                                 -->
<!--  http://www.bb-zone.com/zope/bbzone/projects/bbgallery    -->

<BODY BGCOLOR="#999999" LINK="#FF0000" VLINK="#0000FF" ALINK="#FF0000" TEXT="#FFFFFF">
<TABLE WIDTH="100%" COLS="3">
  <TR>
    <TD ALIGN="LEFT">&nbsp;</TD>
    <TD ALIGN="CENTER"><BR>1 / 3</TD>
    <TD ALIGN="RIGHT"><A HREF="index_1.html">Next</A></TD>
  </TR>
</TABLE>
<HR>
<CENTER>
<TABLE BGCOLOR="#AAAAAA"><TR><TD ALIGN="CENTER">
<TABLE BGCOLOR="#666666" CELLPADDING="5">
  <TR>
      <TD ALIGN="CENTER" VALIGN="MIDDLE">
        <A HREF="19981115-103850.html"><IMG SRC="thumbs/th_19981115-103850.jpg" ALT="19981115-103850" BORDER="1"></A><BR>
        <FONT SIZE="-2">19981115-103850</FONT>
      </TD>
      <TD ALIGN="CENTER" VALIGN="MIDDLE">
        <A HREF="19981202-192812.html"><IMG SRC="thumbs/th_19981202-192812.jpg" ALT="19981202-192812" BORDER="1"></A><BR>
        <FONT SIZE="-2">19981202-192812</FONT>
      </TD>
      <TD ALIGN="CENTER" VALIGN="MIDDLE">
        <A HREF="19981219-144338.html"><IMG SRC="thumbs/th_19981219-144338.jpg" ALT="19981219-144338" BORDER="1"></A><BR>
        <FONT SIZE="-2">19981219-144338</FONT>
      </TD>
      <TD ALIGN="CENTER" VALIGN="MIDDLE">
        <A HREF="19981227-155559.html"><IMG SRC="thumbs/th_19981227-155559.jpg" ALT="19981227-155559" BORDER="1"></A><BR>
        <FONT SIZE="-2">19981227-155559</FONT>
      </TD>
  </TR><TR>
      <TD ALIGN="CENTER" VALIGN="MIDDLE">
        <A HREF="19981227-191219.html"><IMG SRC="thumbs/th_19981227-191219.jpg" ALT="19981227-191219" BORDER="1"></A><BR>
        <FONT SIZE="-2">19981227-191219</FONT>
      </TD>
      <TD ALIGN="CENTER" VALIGN="MIDDLE">
        <A HREF="19981229-143222.html"><IMG SRC="thumbs/th_19981229-143222.jpg" ALT="19981229-143222" BORDER="1"></A><BR>
        <FONT SIZE="-2">19981229-143222</FONT>
      </TD>
      <TD ALIGN="CENTER" VALIGN="MIDDLE">
        <A HREF="19981229-182113.html"><IMG SRC="thumbs/th_19981229-182113.jpg" ALT="19981229-182113" BORDER="1"></A><BR>
        <FONT SIZE="-2">19981229-182113</FONT>
      </TD>
      <TD ALIGN="CENTER" VALIGN="MIDDLE">
        <A HREF="19981230-123034.html"><IMG SRC="thumbs/th_19981230-123034.jpg" ALT="19981230-123034" BORDER="1"></A><BR>
        <FONT SIZE="-2">19981230-123034</FONT>
      </TD>
  </TR><TR>
      <TD ALIGN="CENTER" VALIGN="MIDDLE">
        <A HREF="19981231-191819.html"><IMG SRC="thumbs/th_19981231-191819.jpg" ALT="19981231-191819" BORDER="1"></A><BR>
        <FONT SIZE="-2">19981231-191819</FONT>
      </TD>
      <TD ALIGN="CENTER" VALIGN="MIDDLE">
        <A HREF="19990630-120033.html"><IMG SRC="thumbs/th_19990630-120033.jpg" ALT="19990630-120033" BORDER="1"></A><BR>
        <FONT SIZE="-2">19990630-120033</FONT>
      </TD>
      <TD ALIGN="CENTER" VALIGN="MIDDLE">
        <A HREF="19990630-123001.html"><IMG SRC="thumbs/th_19990630-123001.jpg" ALT="19990630-123001" BORDER="1"></A><BR>
        <FONT SIZE="-2">19990630-123001</FONT>
      </TD>
      <TD ALIGN="CENTER" VALIGN="MIDDLE">
        <A HREF="19990630-123931.html"><IMG SRC="thumbs/th_19990630-123931.jpg" ALT="19990630-123931" BORDER="1"></A><BR>
        <FONT SIZE="-2">19990630-123931</FONT>
      </TD>
  </TR>
</TABLE>
</TR><TR><TD ALIGN="LEFT" VALIGN="MIDDLE">&nbsp;<BR>This is a wild collection of some of my images. It's a sample gallery to
show you what bbgallery creates. This gallery was created by calling:
<P>
<TT>bbgallery -s 640 -m 12 -c 4 -t "Sample Gallery"</TT>
<P>
You see there are
max 12 images on each index page (<TT>-m 12</TT>) and not more than 
four images in a row (<TT>-c 4</TT>). The images are scaled to 640 pixels
on their longest edge (<TT>-s 640</TT>). 

This test comes from the file <A HREF="index.txt">index.txt</A> in the 
image directory.
<BR>&nbsp;</TD></TR>
</TD></TR></TABLE>
</CENTER>
<HR>
<TABLE WIDTH="100%" COLS="3">
  <TR>
    <TD ALIGN="LEFT">&nbsp;</TD>
    <TD ALIGN="CENTER">1 / 3</TD>
    <TD ALIGN="RIGHT"><A HREF="index_1.html">Next</A></TD>
  </TR>
</TABLE>
</BODY>
</HTML>
