<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>Sample Gallery: <!--tag:getprop('name')--></TITLE>

</HEAD>

<!--  Created by BBGallery 1.0                                 -->
<!--  http://www.bb-zone.com/zope/bbzone/projects/bbgallery    -->

<BODY BGCOLOR="#999999" LINK="#FF0000" VLINK="#0000FF" ALINK="#FF0000" TEXT="#FFFFFF">
<TABLE WIDTH="100%" COLS="3">
  <TR>
    <TD ALIGN="LEFT"><A HREF="<!--tag:getprop('html',prev(dirimages))-->">Previous</A></TD>
    <TD ALIGN="CENTER" VALIGN="MIDDLE"><A HREF="<!--tag:dirindex-->">Index</A><P>2 / 26</TD>
    <TD ALIGN="RIGHT"><A HREF="<!--tag:getprop('html',next(dirimages))-->">Next</A></TD>
  </TR>
</TABLE>
<HR>
<CENTER>
<TABLE>
  <TR>
    <TD><A HREF="<!--tag:getprop('html',prev(dirimages))-->">
        <IMG SRC="<!--tag:getprop('thumb',prev(dirimages))-->" BORDER="1" 
             ALT="<!--tag:getprop('name',prev(dirimages))-->"></A></TD>
    <TD ALIGN="CENTER" VALIGN="MIDDLE">
      <A HREF="19981202-192812.html"><IMG SRC="scaled/sc_19981202-192812.jpg" BORDER="1" ALT="19981202-192812"></A><BR>
      <FONT SIZE="-1">19981202-192812.jpg</FONT>
    </TD>
    <TD><A HREF="<!--tag:getprop('html',next(dirimages))-->">
        <IMG SRC="<!--tag:getprop('thumb',next(dirimages))-->" BORDER="1" 
             ALT="tag:getprop('name',next(dirimages))"></A></TD>
  </TR>
</TABLE>
</CENTER>
<BLOCKQUOTE></BLOCKQUOTE>
<HR>
<TABLE WIDTH="100%" COLS="3">
  <TR>
    <TD ALIGN="LEFT"><A HREF="19981115-103850.html">Previous</A></TD>
    <TD ALIGN="CENTER" VALIGN="MIDDLE">2 / 26<P><A HREF="sl_19981202-192812.html">Start Slideshow<A></A></TD>
    <TD ALIGN="RIGHT"><A HREF="19981219-144338.html">Next</A></TD>
  </TR>
</TABLE>
</BODY>
</HTML>
